*{
    margin: 0;
    padding: 0;
    transition: all .2s linear;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
   
}
.container-box{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: url('../img/background.jpg') no-repeat;
background-size: cover;
background-position: center;

    .box{
        width: 700px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 5px 15 #0000;
        backdrop-filter: blur(5px);
        background-color: rgba(255,255,255,.2);
        overflow: hidden;

        .image{
            
           padding: 60px;
           margin-right: 40px;
           border-radius: 0 50px 50px 0;
            background: #fff2;
            height: 270px;
           img{
            height: 150px;
            width: 150px;
            border-radius: 0 50px 0 50px;
            box-shadow: 0 0 0 10px #fff3;
           }
        }
        .content{
            .title{
                color: #fff;
                padding: 5px 0;
                font-size: 33px;
                text-transform: capitalize;
            }
            .post{
                display: block;
                font-size: 20px;
                color: #fff9;
                margin-top: 30px;
            }
            a{
                display: block;
                color: #fff9;
                font-size: 20px;
                i{
                    color: #fff;
                    padding: 7px 5px;
                }
            }
            a:hover{
                color: #fff;
            }
        }
        .share{
            position: absolute;
            top: 5%;
            right: 30px;
            transform: (0,.50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            background: #fff3;
            border-radius: 50px;
            height: 220px;
            width: 45px;

            a{
                margin: 15px;
                color: #fff;
                font-size: 20px;

            }
            a:hover{
                color: #fff6;
            }
        }
    }
}

@media(max-width:768px){
    .container-box{
        .box{
            flex-flow: column;
            padding-bottom: 100px;
            margin: 20px;
            width: 330px;
    
            .image{
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
                border-radius: 0 0 50px 50px;
                text-align: center;
            }
    
            .share{
                left: 50%;
                top: 85%;
                transform: translate(-50%,0);
                height: 45px;
                width: 240px;
               flex-flow: row;
            }
        }
    }
    
}